<nav class="navbar bg-primary">
  <a href="#" class="navbar-brand">Client</a>
  <ng-container *ngIf="!token else expirationTimerTemplate">
    <form class="form-inline">
      <button class="btn btn-outline-light" type="button" (click)="login()">Login</button>
    </form>
  </ng-container>
  <ng-template #expirationTimerTemplate>
    <span>
      Authenticated! Token will expire in: {{tokenExpirationTimer | async | date:'HH:mm:ss':'utc'}}
    </span>
  </ng-template>
</nav>
<div class="container">
  <button class="btn btn-dark" (click)="getData()">Get data</button>
  <div *ngIf="responseData" class="jumbotron">
    {{responseData | json}}
  </div>
</div>